<!DOCTYPE html>
<html>
<head>
  <title>Myplaces</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
    </script>
</head>
<body>

  <% if alert %>
  <div id="notice_wrapper" %>
    <p class="alert"><%= alert %></p>
  </div>
<% elsif notice %>
  <div id="notice_wrapper" %>
    <p class="notice"><%= notice %></p>
  </div>
<% end %>

  <%= render 'layouts/header' %>
  <div class="container">
<%= yield %>
  </div>

<script>
  $(document).ready(function() {
    setTimeout(function() {
      $('#notice_wrapper').fadeOut("slow", function() {
       $this.removal();
      });
  }, 1500 );
});
</script>

</body>
</html>
